
<form action="/chat" method="post">
  <label for="user_input">You:
  <input name="user_input" id="user_input" type="text" />
  <button>Send</button>
</form>
<hr>
<form method="post" action="/clear_chat">
  <button>Clear chat history</button>
</form>
