
<h1>GPT Single Message</h1>

<form action="/process_umbrella" method="post">
  <label for="location">Your message</label>
  <input type="text" name="location" id="location" />
  <button>Send!</button>
</form>
