
<h1>GPT Single Message</h1>

<form action="/process_message" method="post">
  <label for="location">Your message</label>
  <input type="text" name="message" id="message" />
  <button>Send!</button>
</form>
