<h1>Should I take an umbrella?</h1>

<div> 
  <h3> User's Location:  </h3>
  <p><%= @location.capitalize %></p>
  <h3> latitude:  </h3>
  <h3> Longitude:  </h3>
  <h3> Current Temperature :  </h3>
  <h3> Current Summary:  </h3>
  <h3> Umbrella?  </h3>
</div>
